/* 34em */
/* 48em */
/* 62em */
/* 75em */
/* latin-ext */
@import url("../font-awesome/css/font-awesome.min.css");
@import url("../highlight/styles/github.css");
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensans/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensans/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/opensans/MTP_ySUJH_bn48VBG8sNSj0LW-43aMEzIO6XUTLjad8.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/opensans/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensans/k3k702ZOKiLJc3WVjuplzD0LW-43aMEzIO6XUTLjad8.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensans/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/opensans/EInbV5DfGHOiMmvb1Xr-hj0LW-43aMEzIO6XUTLjad8.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/opensans/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/opensans/PRmiXeptR36kaC0GEAetxqvyPXdneeGd26m9EmFSSWg.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/opensans/PRmiXeptR36kaC0GEAetxko2lTMeWA_kmIyWrkNCwPc.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/opensans/xjAJXh38I15wypJXxuGMBiYE0-AqJ3nfInTTiDXDjU4.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/opensans/xjAJXh38I15wypJXxuGMBo4P5ICox8Kq3LLUNMylGO4.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/opensans/PRmiXeptR36kaC0GEAetxnywqdtBbUHn3VPgzuFrCy8.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/opensans/PRmiXeptR36kaC0GEAetxl2umOyRU7PgRiv8DXcgJjk.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/opensans/PRmiXeptR36kaC0GEAetxujkDdvhIIFj_YMdgqpnSB0.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/opensans/PRmiXeptR36kaC0GEAetxolIZu-HDpmDIZMigmsroc4.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/opensans/PRmiXeptR36kaC0GEAetxowYyzpnB4tyYboSwKGmD2g.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/opensans/PRmiXeptR36kaC0GEAetxnibbpXgLHK_uTT48UMyjSM.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/sourcecodepro/leqv3v-yTsJNC7nFznSMqZCDkYQxybH_Rl7Qv7ee2N4.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/sourcecodepro/leqv3v-yTsJNC7nFznSMqSVh0V6fR69OLaFLklYbiSk.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/sourcecodepro/leqv3v-yTsJNC7nFznSMqTRVvBvQIc1z78c__uoBcyI.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/sourcecodepro/leqv3v-yTsJNC7nFznSMqeode0-EuMkY--TSyExeINg.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sourcecodepro/mrl8jkM18OlOQN8JLgasDy2Q8seG17bfDXYR_jUsrzg.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sourcecodepro/mrl8jkM18OlOQN8JLgasD9V_2ngZ8dMf8fLgjYEouxg.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/sourcecodepro/leqv3v-yTsJNC7nFznSMqWPwYXaUNREbAUyQ5RuiVI0.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/sourcecodepro/leqv3v-yTsJNC7nFznSMqUHj7CJK1I4bLnYZkMY-kd4.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/sourcecodepro/leqv3v-yTsJNC7nFznSMqVKFh1TDTPrUZWzVp6FtpG8.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/sourcecodepro/leqv3v-yTsJNC7nFznSMqSOFnW3Jk0f09zW_Yln67Ac.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/sourcecodepro/leqv3v-yTsJNC7nFznSMqVxe-GPfKKFmiXaJ_Q0GFr8.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/sourcecodepro/leqv3v-yTsJNC7nFznSMqUo0As1BFRXtCDhS66znb_k.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/sourcecodepro/leqv3v-yTsJNC7nFznSMqUfh7q1GW6w7vv_rRnRqMrY.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/sourcecodepro/leqv3v-yTsJNC7nFznSMqXZhYM0_6AejPZE-OqA592o.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
html * {
  box-sizing: border-box; }

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 5vh 5%;
  background: #082136;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: "Open Sans", arial, sans-serif; }

article {
  background: #fff;
  color: #082136;
  border-radius: 3rem; }

header, section {
  margin: 0;
  min-height: 82vh;
  max-height: 82vh;
  font-size: 28px;
  overflow: auto; }
  header .col-left, section .col-left {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0 0.5rem 0 0; }
  header .col-right, section .col-right {
    width: 50%;
    float: right;
    margin: 0;
    padding: 0 0 0 0.5rem; }
  header .valign, section .valign {
    position: relative;
    transform: translateY(20.5vh);
    width: 50%;
    margin: auto;
    padding: 1rem 2rem;
    border-bottom-right-radius: 2rem; }
  header .left, section .left {
    text-align: left; }
  header .right, section .right {
    text-align: right; }
  header .center, section .center {
    text-align: center; }
  header .bg-grey, section .bg-grey {
    background-color: lightgrey;
    color: inherit; }

header {
  padding: 5rem; }

section {
  padding: 1rem 3rem; }

#overlay {
  font-size: small;
  position: fixed;
  z-index: 200;
  transition: left 0.3s;
  left: -450px;
  top: 0;
  color: black;
  width: 500px;
  height: 100%;
  background-color: rgba(100, 180, 200, 0.9);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-right: thin solid black; }

#overlay.active-menu {
  left: 0;
  overflow: scroll; }

#overlay.active-menu + .menu-mask {
  width: 100%;
  height: 100%;
  opacity: .7;
  -webkit-transition: opacity .3s;
  transition: opacity .3s; }

#overlay + .menu-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: black;
  opacity: 0;
  transition: opacity .3s, width 0s .3s, height 0s .3s; }

#overlay .button-open-menu,
#overlay .button-close-menu {
  padding: 12px 24px;
  width: 100%;
  color: #fff;
  background-color: #3184a1;
  border: none;
  cursor: pointer; }

#overlay .button-open-menu {
  display: block;
  text-align: right; }

#overlay.active-menu .button-open-menu {
  display: none; }

#overlay .button-close-menu {
  display: none;
  text-align: left; }

#overlay.active-menu .button-close-menu {
  display: block; }

#overlay .menu-list {
  list-style: decimal;
  margin: 0;
  padding: 0; }

#overlay .menu-list .menu-list-item {
  display: block; }

#overlay.active-menu .menu-list .menu-list-main-item {
  display: block;
  background-color: #3c8ca0; }

#overlay.active-menu .menu-list .menu-list-item {
  border-top: solid 1px #b5dbe9;
  border-bottom: solid 1px #3184a1; }

#overlay.active-menu .menu-list .menu-list-item.active-menu-list-item {
  border: thick solid white; }

#overlay.active-menu .menu-list .menu-list-item .menu-link {
  color: white;
  opacity: 1; }

#overlay .menu-list .menu-list-item .menu-link {
  display: block;
  padding: 12px 24px;
  opacity: 0; }

h1 {
  font-size: 64px;
  font-weight: 600; }

h2 {
  font-size: 48px;
  font-weight: 600;
  border-bottom: 1px solid #00294d; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0;
  padding: 0;
  font-style: normal;
  background: transparent;
  color: #004b8d; }

p, pre, ol, ul, dl, table, figure, div {
  margin: 0 0 1rem 0; }

dl dt {
  font-weight: 700; }

ol {
  list-style-position: outside;
  padding-left: 2rem; }
  ol > li {
    padding-bottom: 0.5rem; }
    ol > li ul {
      font-size: 87.5%;
      margin-left: 0;
      margin-bottom: 0; }
      ol > li ul > li {
        padding: 0 0 0.5rem 2rem;
        position: relative; }
    ol > li ol {
      font-size: 87.5%;
      margin-left: 0;
      margin-bottom: 0; }
      ol > li ol > li {
        list-style-type: lower-alpha; }

ul {
  list-style: none;
  list-style-position: inside;
  padding: 0; }
  ul > li {
    padding: 0 0 0.5rem 2rem;
    position: relative; }
    ul > li ul, ul > li ol {
      font-size: 87.5%;
      margin-bottom: 0; }
    ul > li ol {
      padding-left: 2rem; }

ul > li:before {
  position: absolute;
  top: 0.6rem;
  left: 0;
  content: "\f0c8";
  color: #0068c4;
  font-family: "FontAwesome", sans-serif;
  font-size: 1.25rem; }

ul > li > ul > li:before {
  position: absolute;
  top: 0.6rem;
  left: 0;
  content: "\f10c";
  color: #0068c4;
  font-family: "FontAwesome", sans-serif;
  font-size: 1.2rem; }

figure {
  text-align: center; }
  figure img {
    width: auto;
    height: auto;
    max-width: 100%;
    overflow: auto; }
  figure figcaption {
    margin-top: 1rem;
    text-align: center;
    font-size: 2/3;
    font-style: italic; }
  figure figcaption:before {
    content: "\2014 \2009"; }

blockquote {
  position: relative;
  padding: 1rem 3rem 1rem 3.5rem;
  margin: 0 2rem 1rem 2rem;
  font-style: italic;
  border-bottom-right-radius: 3rem;
  box-shadow: 1rem 1rem 0.5rem 0 rgba(41, 152, 255, 0.5);
  background-color: #b7b7b7;
  color: inherit; }
  blockquote cite {
    display: block;
    text-align: right;
    background-color: transparent;
    font-weight: 600;
    color: #004b8d; }
  blockquote cite:before {
    content: "\2014 \2009"; }

blockquote:before {
  display: block;
  position: absolute;
  left: 0.5rem;
  top: 0;
  content: open-quote;
  font-size: 5rem;
  background-color: transparent;
  color: #004b8d; }

table {
  width: 100%;
  padding: 0;
  border-collapse: collapse; }
  table thead, table tbody, table tfoot, table tr, table th, table td {
    border: none;
    margin: 0;
    padding: 0;
    font-size: 24px; }
  table thead tr th {
    padding: 0.125rem 0.5rem;
    background-color: #00294d;
    color: #fff;
    border-left: 1px solid #fff; }
  table thead tr th:last-child {
    border-right: 1px solid #fff; }
  table tbody tr {
    border-bottom: 1px solid #0068c4; }
    table tbody tr th, table tbody tr td {
      padding: 0.125rem 0.25rem; }
      table tbody tr th dl, table tbody tr th ol, table tbody tr th ul, table tbody tr th pre, table tbody tr td dl, table tbody tr td ol, table tbody tr td ul, table tbody tr td pre {
        margin: 0; }
  table tbody tr:nth-child(even) {
    background-color: #b7b7b7;
    color: inherit; }

abbr, acronym {
  border-bottom: 1px dotted #00294d; }

abbr[title], acronym[title] {
  cursor: help; }

pre, code, kbd, var {
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  font-family: "Source Code Pro", courier, monospace; }

h1 code, h1 kbd, h1 var, h2 code, h2 kbd, h2 var, h3 code, h3 kbd, h3 var, h4 code, h4 kbd, h4 var, h5 code, h5 kbd, h5 var, h6 code, h6 kbd, h6 var,
p code,
p kbd,
p var, pre code, pre kbd, pre var, ol code, ol kbd, ol var, ul code, ul kbd, ul var, li code, li kbd, li var, dl code, dl kbd, dl var, table code, table kbd, table var, figure code, figure kbd, figure var, div code, div kbd, div var {
  font-size: inherit;
  background-color: #b7b7b7;
  margin: 0;
  padding-left: 0.125rem;
  padding-right: 0.125rem; }

table tr code.hljs, table td code.hljs {
  padding-top: 0;
  padding-bottom: 0;
  font-size: inherit; }

footer {
  height: 8vh;
  margin: 0;
  padding: 0.5rem 2rem 0 2rem;
  border-top: 1px dotted #082136;
  bottom: 0;
  font-size: 19.2px;
  background: transparent;
  color: #0068c4; }
  footer address {
    width: 50%;
    float: left;
    text-align: left;
    font-style: normal;
    font-weight: 600; }
  footer div#counter {
    width: 50%;
    float: right;
    text-align: right; }

/*# sourceMappingURL=main.css.map */
