// Font types
$base-font-type-body: "Open Sans";
$base-font-type-code: "Source Code Pro";
$base-font-awesome: "../font-awesome/css/font-awesome.min.css";

// Font imports
@import "fonts/open-sans";
@import "fonts/source-code-pro";
@import url($base-font-awesome);
