html * {
    box-sizing: border-box;
}

body {
    height: $presentation-height;
    width: $presentation-width;
    margin: $presentation-margin;
    padding: $presentation-padding;
    background: $darkest-blue;
    color: #fff;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    font-style: normal;
    font-family: "Open Sans", arial, sans-serif;
}

article {
    background: #fff;
    color: $darkest-blue;
    border-radius: 1rem;
}

p {
    margin: 0 0 0.25rem 0;
}

blockquote {
    position: relative;
    padding: 0 3rem 0 3.5rem;
    margin: 0 0 1rem 0;
    font-style: italic;
    border-right: 0.25rem solid $lightest-blue;
    border-bottom: 0.25rem solid $lightest-blue;
    border-bottom-right-radius: 3rem;
    background-color: $grey;
    color: inherit;
    cite {
        display: block;
        text-align: right;
        background-color: transparent;
        font-weight: 600;
        color: $lightest-blue;
    }
    cite:before {
        content: "\2014 \2009";
    }
}

blockquote:before {
    display: block;
    position: absolute;
    left: 0.5rem;
    top: 0;
    content: open-quote;
    font-size: 5rem;
    background-color: transparent;
    color: $lightest-blue;
}
