// Code highlight
@import url($code-theme);

pre, code, kbd, var {
    font-size: $code-font-size;
    font-weight: $base-font-weight;
    font-style: normal;
    font-family: $base-font-type-code, courier, monospace;
}

h1, h2, h3, h4, h5, h6,
    p, pre, ol, ul, li, dl, table, figure, div {
    code, kbd, var {
        font-size: inherit;
        background-color: $code-background;
        margin: 0;
        padding-left: 0.125rem;
        padding-right: 0.125rem;
    }
}

table tr, table td {
    code.hljs {
        padding-top: 0;
        padding-bottom: 0;
        font-size: inherit;
    }
}
