// Code highlight
@import url($code-theme);

pre, code, kbd, var {
    font-size: $code-font-size;
    font-weight: $base-font-weight;
    font-style: normal;
    font-family: $base-font-type-code, courier, monospace;
}

p, li {
    code, kbd, var {
        background-color: $code-background;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
}

code.hljs {
    margin: 0.5rem;
    padding: 0 0 0.5rem 0;
}
