header, section {
    margin: $slide-margin;
    min-height: $slide-height;
    font-size: $slide-font-size;
    transition-property: background-color;
}

header {
    padding: $title-slide-padding;
}

section {
    padding: $slide-padding;
}

h1 {
    font-size: $slide-h1-font-size;
}

h2 {
    font-size: $slide-h2-font-size;
    border-bottom: $slide-title-border;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem 0;
    padding: 0;
    font-weight: $base-font-weight;
    font-style: normal;
    background: transparent;
    color: $darker-blue;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        padding: 0 0 0 2rem;
        position: relative;
        ul {
            font-size: 14/16 * 100%;
        }
    }
}

ul > li:before {
    position: absolute;
    top: 0.6rem;
    left: 0;
    content: "\f0c8";
    color: $lighter-blue;
    font-family: "FontAwesome", sans-serif;
    font-size: 1.25rem;
}

ul > li > ul > li:before {
    position: absolute;
    top: 0.6rem;
    left: 0;
    content: "\f10c";
    color: $lighter-blue;
    font-family: "FontAwesome", sans-serif;
    font-size: 1.2rem;
}

section {
    .col-left {
        width: 50%;
        float: left;
        margin: 0;
        padding: 0 0.5rem 0 0;
    }
    .col-right {
        width: 50%;
        float: right;
        margin: 0;
        padding: 0 0 0 0.5rem;
    }
    .valign {
        position: relative;
        transform: translateY(.25 * $slide-height);
        width: 50%;
        margin: auto;
        padding: 1rem 2rem;
        background-color: lightgrey;
        border-bottom-right-radius: 2rem;
    }
}

figure {
    text-align: center;
    img {
        width: 100%;
        height: auto;
        max-height: .75 * $presentation-height;
        overflow: scroll;
    }
    figcaption {
        margin-top: 1rem;
        text-align: center;
        font-size: 2/3;
        font-style: italic;
    }
    figcaption:before {
        content: "\2014 \2009";
    }
}
